In [ ]:
# Task no 1
class Student:
    id = 0
    def __init__(self, n, d, a, c):
        self.n = n
        self.d = d
        self.a = a
        self.c = c
        Student.id = Student.id + 1
        self.i = Student.id
    def get_details(self):
        print('ID: ', self.i)
        print('Name: ', self.n)
        print('Department: ', self.d)
        print('Age: ', self.a)
        print('CG: ', self.c)
        return''
    @classmethod
    def from_String(cls, text):
        cls.s = text
        lst = cls.s.split('-')
        n = lst[0]
        d = lst[1]
        a = lst[2]
        c = lst[3]
        return Student(n, d, a, c)
s1 = Student("Samin", "CSE", 21, 3.91)
s1.get_details()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.get_details()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.get_details()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.get_details()

ID:  1
Name:  Samin
Department:  CSE
Age:  21
CG:  3.91
-----------------------
ID:  2
Name:  Fahim
Department:  ECE
Age:  21
CG:  3.85
-----------------------
ID:  3
Name:  Tahura
Department:  EEE
Age:  22
CG:  3.01
-----------------------
ID:  4
Name:  Sumaiya
Department:  BBA
Age:  23
CG:  3.96

''

In [ ]:
#TASK no 2
class Assassin:
    total = 0
    def __init__(self, name, success):
        self.n = name
        self.s = success
        Assassin.total = Assassin.total + 1
        self.t = Assassin.total
    def printDetails(self):
        print("Name: ", self.n)
        print(f"Success: {self.s}%")
        print("Total number of Assassin: ", self.t)
    @classmethod
    def failureRate(cls, name, fail_rate):
        cls.n = name
        cls.s = 100 - fail_rate
        return Assassin( cls.n , cls.s )
    @classmethod
    def failurePercentage(cls, name, fail_percent):
        cls.n = name
        var = fail_percent[0:len(fail_percent)-1]
        cls.s = 100 - int(var)
        return Assassin(cls.n, cls.s)
john_wick = Assassin('John Wick', 100)
john_wick.printDetails()
print('================================')
nagisa = Assassin.failureRate("Nagisa", 20)
nagisa.printDetails()
print('================================')
akabane = Assassin.failurePercentage("Akabane", "10%")
akabane.printDetails()

Name:  John Wick
Success: 100%
Total number of Assassin:  1
================================
Name:  Nagisa
Success: 80%
Total number of Assassin:  2
================================
Name:  Akabane
Success: 90%
Total number of Assassin:  3

In [ ]:
# TASK no 3
class Passenger:
    count = 0
    fare = 0
    def __init__(self, name):
        self.n = name
        self.fare = 450
        Passenger.count = Passenger.count + 1
    def set_bag_weight(self, weight):
        self.w = weight
        if self.w <= 20:
            Passenger.fare = Passenger.fare + self.fare
        elif 20 < self.w <= 50 :
            self.fare = self.fare + 50
            Passenger.fare = Passenger.fare + self.fare
        elif self.w > 50:
            self.fare = self.fare + 100
            Passenger.fare = Passenger.fare + self.fare
        return Passenger.fare ,Passenger.count
    def printDetail(self):
        print('Name: ', self.n)
        print('Bus fare: ', self.fare)

print('Total Passenger:', Passenger.count)
p1 = Passenger('Jack')
p1.set_bag_weight(90)
p2 = Passenger('Carol')
p2.set_bag_weight(10)
p3 = Passenger('Mike')
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print('Total Passenger:', Passenger.count)

Total Passenger: 0
=========================
Name:  Jack
Bus fare:  550
=========================
Name:  Carol
Bus fare:  450
=========================
Name:  Mike
Bus fare:  500
=========================
Total Passenger: 3

In [ ]:
#TASK no 4
class Travel:
    count = 0
    def __init__(self, source, destination):
      self.s = source
      self.d = destination
      self.t = 1
      Travel.count = Travel.count + 1
      self.n = Travel.count
    def set_time(self, t):
        self.t = t
    def set_source(self, s):
        self.s = s
    def set_destination(self, d):
        self.d = d
    def display_travel_info(self):
        print("Source:", self.s)
        print('Destination: ', self.d)
        print(f'Flight Time: {self.t}:00', end = '')
        return''

print('No. of Traveller =', Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print('No. of Traveller =', Travel.count)

No. of Traveller = 0
=======================
Source: Dhaka
Destination:  India
Flight Time: 1:00
=======================
Source: Kuala Lampur
Destination:  Dhaka
Flight Time: 23:00
=======================
Source: Dhaka
Destination:  Germany
Flight Time: 15:00
=======================
Source: Malaysia
Destination:  Canada
Flight Time: 9:00
=======================
No. of Traveller = 4

In [ ]:
#Task no 5
class Employee:
    def __init__(self, name, ex):
        self.name = name
        self.workingPeriod = ex
    @classmethod
    def employeeByJoiningYear(cls, name, year):
        cls.n = name
        cls.ex = 2022 - year
        return Employee(cls.n, cls.ex)
    @staticmethod
    def experienceCheck(ex , chr):
        if ex < 3:
            if chr.lower() == 'male':
                return "He is not experienced"
            else:
                return 'She is not experienced'
        else:
            if chr.lower() == 'male':
              return "He is experienced"
            else:
                return "She is experienced"
employee1 = Employee('Dororo', 3)
employee2 = Employee.employeeByJoiningYear('Harry', 2016)
print(employee1.workingPeriod)
print(employee2.workingPeriod)
print(employee1.name)
print(employee2.name)
print(Employee.experienceCheck(2, "male"))
print(Employee.experienceCheck(3, "female"))

3
6
Dororo
Harry
He is not experienced
She is experienced

In [ ]:
# Task no 6
class Laptop:
    laptopCount = 0
    def __init__(self, brand, total):
        self.name = brand
        self.count = total
        Laptop.laptopCount = Laptop.laptopCount+ self.count
    @staticmethod
    def advantage():
        print('Laptops are portable')
    @staticmethod
    def resetCount():
        Laptop.laptopCount = 0
lenovo = Laptop("Lenovo", 5);
dell = Laptop("Dell", 7);
print(lenovo.name, lenovo.count)
print(dell.name, dell.count)
print("Total number of Laptops", Laptop.laptopCount)
Laptop.advantage()
Laptop.resetCount()
print("Total number of Laptops", Laptop.laptopCount)

Lenovo 5
Dell 7
Total number of Laptops 12
Laptops are portable
Total number of Laptops 0

In [ ]:
# TASK no 7
class Cat:
    Number_of_cats = 0
    def __init__(self, c = None, p = None):
       if c == None and p == None:  
         self.c = "White"
         self.p = 'sitting'
       else:
           self.c = c
           self.p = p
       Cat.Number_of_cats = Cat.Number_of_cats + 1
    @classmethod
    def no_parameter(cls):
        cls.c = "White"
        cls.p = 'sitting'
        return Cat(cls.c , cls.p)
    @classmethod
    def first_parameter(cls, c):
        cls.c = c
        cls.p = 'sitting'
        return Cat(cls.c , cls.p)
    @classmethod
    def second_parameter(cls, p):
        cls.c = 'Grey'
        cls.p = p
        return Cat(cls.c , cls.p)
    def changeColor(self, c):
        self.c = c
    def printCat(self):
        print(f'{self.c} cat is {self.p} ')
print("Total number of cats:", Cat.Number_of_cats)
c1 = Cat.no_parameter()
c2 = Cat.first_parameter("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c5 = Cat.second_parameter("playing")
print("=======================")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c5.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()
print("=======================")
print("Total number of cats:", Cat.Number_of_cats)

Total number of cats: 0
=======================
White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Grey cat is playing
Blue cat is sitting
Purple cat is jumping
=======================
Total number of cats: 5

In [13]:
#TASK no 8
class Cylinder:
  radius, height = 5, 18

  def __init__(self, rad, ht):
    self.radius = rad
    self.height = ht
    print(f'''Default radius= {Cylinder.radius} and height= {Cylinder.height}.
Updated: radius={self.radius} and height={self.height}''')
    #saved
    Cylinder.radius, Cylinder.height = rad, ht
    
  @classmethod
  def swap(cls, height, radius):
    return Cylinder(radius, height)

  @classmethod
  def changeFormat(cls, stri):
    x = stri.split('-')
    return Cylinder(float(x[0]), float(x[1]))
  
  @staticmethod
  def area(rad, ht):
    area = (2*3.1416*(rad**2)) + (2*3.1416*rad*ht)
    print(f"Area: {area}")
  
  @staticmethod
  def volume(rad, ht):
    volume = (3.1416 * (rad**2) * ht)
    print(f"Volume:{volume}")
c1 = Cylinder(0,0)
Cylinder.area(c1.radius,c1.height)
Cylinder.volume(c1.radius,c1.height)
print("===============================")
c2 = Cylinder.swap(8,3)
c2.area(c2.radius,c2.height)
c2.volume(c2.radius,c2.height)
print("===============================")
c3 = Cylinder.changeFormat("7-13")
c3.area(c3.radius,c3.height)
c3.volume(c3.radius,c3.height)
print("===============================")
Cylinder(0.3,5.56).area(Cylinder.radius,Cylinder.height)
print("===============================")
Cylinder(3,5).volume(Cylinder.radius,Cylinder.height)

Default radius= 5 and height= 18.
Updated: radius=0 and height=0
Area: 0.0
Volume:0.0
===============================
Default radius= 0 and height= 0.
Updated: radius=3 and height=8
Area: 207.3456
Volume:226.1952
===============================
Default radius= 3 and height= 8.
Updated: radius=7.0 and height=13.0
Area: 879.648
Volume:2001.1992
===============================
Default radius= 7.0 and height= 13.0.
Updated: radius=0.3 and height=5.56
Area: 11.045865599999999
===============================
Default radius= 0.3 and height= 5.56.
Updated: radius=3 and height=5
Volume:141.372

In [ ]:
#Task no 9
class Student:
    person = 0
    brac = 0
    other = 0
    def __init__(self, *args):
        if len(args) == 2:
            self.n = args[0]
            self.d = args[1]
            self.u = "BRAC University"
            Student.brac = Student.brac + 1
        else:
            self.n = args[0]
            self.d = args[1]
            self.u = args[2]
            Student.other = Student.other + 1
        Student.person = Student.person + 1
    def individualDetail(self):
        print('NAME:', self.n)
        print('Department:', self.d)
        print('Institution:', self.u)
    @classmethod
    def printDetails(cls):
        print('Total Student(s):', Student.person)
        print('BRAC University Student(s):', Student.brac) 
        print('Other Institution Student(s):',Student.other)
    @classmethod
    def createStudent(cls, *args):
        if len(args) == 2:
            cls.n = args[0]
            cls.d = args[1]
            return Student(cls.n , cls.d)
        else:
            cls.n = args[0]
            cls.d = args[1]
            cls.u = args[2]
        return Student(cls.n , cls.d, cls.u)

Student.printDetails()
print('#########################')
mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()
print('========================')
harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()
print('=========================')
levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s): 0
BRAC University Student(s): 0
Other Institution Student(s): 0
#########################
NAME: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Student(s): 1
BRAC University Student(s): 1
Other Institution Student(s): 0
========================
NAME: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Student(s): 2
BRAC University Student(s): 1
Other Institution Student(s): 1
=========================
NAME: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Student(s): 3
BRAC University Student(s): 2
Other Institution Student(s): 1

In [19]:
#TASK no 10
class SultansDine:
    branch = 0
    sell = 0
    tamp = []
    def __init__(self, b):
        self.b = b
        self.sell = 0
        SultansDine.branch = SultansDine.branch + 1
    def sellQuantity(self, s):
        if s < 10:
            self.sell = s * 300
        elif 10 <= s < 20:
            self.sell = s * 350
        else:
            self.sell = s * 400
        SultansDine.sell = SultansDine.sell + self.sell
        #self.p = (self.sell / SultansDine.sell) * 100
    def branchInformation(self):
        val_1 = f"'Branch Name: {self.b}'"
        val_2 = f"'Branch sell: {self.sell} Taka'"
        print(val_1)
        print(val_2)
        lst = (val_1, val_2, self.sell)
        SultansDine.tamp = SultansDine.tamp + [lst]

    @classmethod
    def details(cls):
        print('Total number of branch(s):', SultansDine.branch)
        print('Total Sell:', SultansDine.sell, 'Taka' )
        for i in SultansDine.tamp:
            print(i[0])
            print(i[1])
            per = round(((int(i[2])/SultansDine.sell) * 100), 2)
            print(f"Branch consists of total sell's: {per}%")
SultansDine.details()
print('########################')
dhanmodi = SultansDine('Dhanmondi')
dhanmodi.sellQuantity(25)
dhanmodi.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total number of branch(s): 0
Total Sell: 0 Taka
########################
'Branch Name: Dhanmondi'
'Branch sell: 10000 Taka'
-----------------------------------------
Total number of branch(s): 1
Total Sell: 10000 Taka
'Branch Name: Dhanmondi'
'Branch sell: 10000 Taka'
Branch consists of total sell's: 100.0%
========================
'Branch Name: Baily Road'
'Branch sell: 5250 Taka'
-----------------------------------------
Total number of branch(s): 2
Total Sell: 15250 Taka
'Branch Name: Dhanmondi'
'Branch sell: 10000 Taka'
Branch consists of total sell's: 65.57%
'Branch Name: Baily Road'
'Branch sell: 5250 Taka'
Branch consists of total sell's: 34.43%
========================
'Branch Name: Gulshan'
'Branch sell: 2700 Taka'
-----------------------------------------
Total number of branch(s): 3
Total Sell: 17950 Taka
'Branch Name: Dhanmondi'
'Branch sell: 10000 Taka'
Branch consists of total sell's: 55.71%
'Branch Name: Baily Road'
'Branch sell: 5250 Taka'
Branch consists of total sell's: 29.25%
'Branch Name: Gulshan'
'Branch sell: 2700 Taka'
Branch consists of total sell's: 15.04%